# For data manipulation
numpy==1.26.0
pandas==2.1.0
scipy==1.11.2

# For machine learning and deep learning
scikit-learn==1.5.2
tensorflow==2.14.0
torch==2.1.0

# For data visualization
matplotlib==3.8.0
seaborn==0.13.2
plotly==5.15.0
altair==4.3.0

# For user interface
streamlit==1.38.0

# Other utilities
requests==2.31.0
